body {
  background-color: #e7eedf;
  padding-left: 10px;
}

.react-datepicker__time-list {
  padding-left: 0px;
}

a {
  color: rgb(190, 115, 115);
  font-size: 18px;
  font-family: monospace;
}

.main-headings {
  color: rgb(39, 5, 5);
}